<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />

<body>
	<div id="container-fluid">
		<div>
			<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				<input type="submit" />
			</form>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href=@{/}>
					<img th:src="@{/images/ShopmeAdminSmall.png}"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="">Careers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Payments</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Shipping & Delivery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Contact</a>
						</li>
						<li>
							<img th:src="@{/user-solid.png}" />
						</li>
						<!--<li class="nav-item">
							<a class="nav-link" th:href="@{/account}" sec:authentication="principal.fullname"></a>
						</li>-->
						<li class="nav-item">
							<a class="nav-link" th:href="@{/logout}" id="logoutLink">Logout</a>
							</li>
					</ul>
				</div>
			</nav>
		</div>

		<div>&nbsp;</div>

		<div class="text-center">
			<h2>Customer Registration</h2>
			<h4>You have registered successfully as a customer</h4>
			<p>Please check your email to verify our account.</p>
			<p>
				<a th:href="@{/login}">Login here</a>
			</p>
		</div>

		<div>&nbsp;</div>

		<div id="container-fluid">
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<li class="nav-item">
							<a class="nav-link" th:href="">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Privacy Notice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="">Return &amp; Refunds</a>
						</li>
				</nav>
			</div>
		<div>
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
</body>

</html>