<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Shopping Cart</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type ="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type ="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div id="container-fluid">
		<div>
			<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				<input type="submit" />
			</form>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href=@{/}>
					<img th:src="@{/images/ShopmeAdminSmall.png}"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" >Careers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >Payments</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >Shipping & Delivery</a>
						</li>
						<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}" >Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/register}" >Register</a>
						</li>
						</th:block>
						<li class="nav-item">
							<a class="nav-link" >Contact</a>
						</li>
						<th:block sec:authorize="isAuthenticated()">
							<li class="nav-item"><b><a class="nav-link"
									th:href="@{/account_details}"
									sec:authentication="principal.fullName"></a></b></li>
							<li class="nav-item"><a
								class="nav-link fas fa-shopping-cart fa-2x" th:href="@{/cart}">
								<img th:src="@{vecteezy_compras-carro-icono-compras-cesta-en-transparente_19787018.png}" width="10%" height="10%"/>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/logout}" id="logoutLink">Logout</a>
							</li>
						</th:block>
					</ul>
				</div>
			</nav>
		</div>
		</div>
		<div th:replace="navigation :: search_nav"></div>

		<div class="text-center">
			<h2>Your Shopping Cart</h2>
		</div>

		<div class="row m-1">
			<div class="col-sm-8">
				<th:block th:each="item, status : ${cartItems}">
					<div class="row border rounded p-1"
						th:with="product = ${item.product}"
						th:id="'row' + ${status.count}">
						<div class="col-1">
							<div class="divCount">[[${status.count}]]</div>
							<div>
								<a class="fas fa-trash icon-dark linkRemove"
									th:rowNumber="${status.count}"
									th:href="@{'/cart/remove/' + ${product.id}}"></a>
							</div>
						</div>
						<div class="col-3">
							<img th:src="@{${product.getPhotosImagePath}}" class="img-fluid" />
						</div>
						<div class="col-6">
							<div>
								<a th:href="@{'/p/' + ${product.ailas}}" target="_blank"
									th:title="${product.name}"> <b>[[${product.name}]]</b>
								</a>
							</div>
							<div th:replace="cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})">
								
							</div>

							<div>
								<span>X&nbsp;</span>
								
							</div>
							<div>
								<span>=&nbsp;</span> <span
									th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
									th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span
									th:id="'subtotal' + ${product.id}" class="h4 subtotal"></span><span
									th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}"
									th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
							</div>
						</div>
					</div>
					<div class="row m-1" th:id="'blankLine' + ${status.count}">&nbsp;</div>
				</th:block>
			</div>

			<div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}"
				id="sectionTotal">
				<div>
					<span class="h3">Estimated Total:</span>
				</div>
				<div class="mt-2">
					<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}"
						th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span id="total"
						class="h2"></span><span
						th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}"
						th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
				</div>
				<div class="mt-2">
					<div th:if="${shippingSupported}">
						<form th:action="@{/checkout}">
							<button type="submit" class="btn btn-danger p-3 mt-2">Check
								Out</button>
						</form>
					</div>

					<div th:unless="${shippingSupported}">
						<div>
							<span class="h5 text-warning">No shipping available for
								your location</span>
						</div>

						<div th:if="${usePrimaryAddressAsDefault}">
							<a th:href="@{/account_details(redirect=cart)}" class="h6">Update
								your address</a>
						</div>

						<div th:unless="${usePrimaryAddressAsDefault}">
							<a th:href="@{/address_book(redirect=cart)}" class="h6">Use
								another shipping address</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="sectionEmptyCartMessage"
			th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}">
			<h3>You have not chosen any products yet.</h3>
		</div>

		<div id="container-fluid">
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<ul class="navbar-nav">
				<li class="nav-item">
							<a class="nav-link" >About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >Privacy Notice</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" >Return &amp; Refunds</a>
						</li>
						</ul>
				</nav>
			</div>
		<div>
			<p>Shopme Control Panel - Copyright &copy; Shopme</p>
		</div>
	</div>
	</div>
	<script type="text/javascript">
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		decimalDigits = "[[${DECIMAL_DIGITS}]]";
		decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
		thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";

	</script>
	<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
	<script type="text/javascript">
		decimalSeparator = decimalPointType == 'COMMA' ? ',' : '.';
		thousandsSeparator = thousandsPointType == 'COMMA' ? ',' : '.';
		
		$(document).ready(function() {
			$(".linkMinus").on("click", function(evt) {
				evt.preventDefault();
				decreaseQuantity($(this));
			});
		
			$(".linkPlus").on("click", function(evt) {
				evt.preventDefault();
				increaseQuantity($(this));
			});
		
			$(".linkRemove").on("click", function(evt) {
				evt.preventDefault();
				removeProduct($(this));
			});
		});
		
		function decreaseQuantity(link) {
			productId = link.attr("pid");
			quantityInput = $("#quantity" + productId);
			newQuantity = parseInt(quantityInput.val()) - 1;
		
			if (newQuantity > 0) {
				quantityInput.val(newQuantity);
				updateQuantity(productId, newQuantity);
			} else {
				showWarningModal('Minimum quantity is 1');
			}
		}
		
		function increaseQuantity(link) {
			productId = link.attr("pid");
			quantityInput = $("#quantity" + productId);
			newQuantity = parseInt(quantityInput.val()) + 1;
		
			if (newQuantity <= 5) {
				quantityInput.val(newQuantity);
				updateQuantity(productId, newQuantity);
			} else {
				showWarningModal('Maximum quantity is 5');
			}
		}
		
		function updateQuantity(productId, quantity) {
			url = contextPath + "cart/update/" + productId + "/" + quantity;
		
			$.ajax({
				type: "POST",
				url: url,
				beforeSend: function(xhr) {
					xhr.setRequestHeader(csrfHeaderName, csrfValue);
				}
			}).done(function(updatedSubtotal) {
				updateSubtotal(updatedSubtotal, productId);
				updateTotal();
			}).fail(function() {
				showErrorModal("Error while updating product quantity.");
			});
		}
		
		function updateSubtotal(updatedSubtotal, productId) {
			$("#subtotal" + productId).text(formatCurrency(updatedSubtotal));
		}
		
		function updateTotal() {
			total = 0.0;
			productCount = 0;
		
			$(".subtotal").each(function(index, element) {
				productCount++;
				total += parseFloat(clearCurrencyFormat(element.innerHTML));
			});
		
			if (productCount < 1) {
				showEmptyShoppingCart();
			} else {
				$("#total").text(formatCurrency(total));
			}
		
		}
		
		function showEmptyShoppingCart() {
			$("#sectionTotal").hide();
			$("#sectionEmptyCartMessage").removeClass("d-none");
		}
		
		function removeProduct(link) {
			url = link.attr("href");
		
			$.ajax({
				type: "DELETE",
				url: url,
				beforeSend: function(xhr) {
					xhr.setRequestHeader(csrfHeaderName, csrfValue);
				}
			}).done(function(response) {
				rowNumber = link.attr("rowNumber");
				removeProductHTML(rowNumber);
				updateTotal();
				updateCountNumbers();
		
				showModalDialog("Shopping Cart", response);
		
			}).fail(function() {
				showErrorModal("Error while removing product.");
			});
		}
		
		function removeProductHTML(rowNumber) {
			$("#row" + rowNumber).remove();
			$("#blankLine" + rowNumber).remove();
		}
		
		function updateCountNumbers() {
			$(".divCount").each(function(index, element) {
				element.innerHTML = "" + (index + 1);
			});
		}
		
		
		function formatCurrency(amount) {
			return $.number(amount, decimalDigits, decimalSeparator, thousandsSeparator);
		}
		
		function clearCurrencyFormat(numberString) {
			result = numberString.replaceAll(thousandsSeparator, "");
			return result.replaceAll(decimalSeparator, ".");
		}
	</script>
</body>

</html>