<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Shopme User Control Panel</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type ="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type ="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
<div>
	<form th:action="@{/logout}" method="post" th:hidden="true" name="LogoutForm">
		<input type="hidden" name="_csrf" value="dbafe022-ae5d-4817-b20e-3eddb689a4cb"/>
		<input type="submit" />
	</form>
	<nav class="navbar navbar-expand bg-dark navbar-dark">
	<a class="navbar-brand" th:href="@{/}">
		<img th:src="@{/images/ShopmeAdminSmall.png}" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon">
			</span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/users}">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/categories}">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/brand}">Brand</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/product}">Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/customers}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/orders}">Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/menus}">Menus</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/settings}">Settings</a>
				</li>
				<li class="nav-item">
					<!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" th:href="@{/account}"
					sec:authentication="principal.FullName"></a>-->
					<div class="dropdown-menu">
						<a class="dropdown-item" id="LogoutLink" href="">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div>
	<h2>Manage Categories</h2><br/>
	<a th:href="@{/categories/new}">Create New Categories</a>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>

	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="table table-dark">
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<th>Category Name</th>
					<th>Alias</th>
					<th>Enabled</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cate : ${listCategories}">
					<td>[[${cate.id}]]</td>
					<td><img th:if="${cate.image == null}" th:src="@{/image-thumbnail.png}" width="150" height="200">
						<img th:if="${cate.image != null}" th:src="@{${cate.photosImagePath}}" width="50%" height="50%"></td>
					<td>[[${cate.name}]]</td>
					<td>[[${cate.alias}]]</td>
					<td><a th:if="${cate.enabled == true}" th:href="@{'/categories/' + ${cate.id} + '/enabled/false'}" title="Disable Category">
							<img th:src="@{/circle-check-solid.png}" width="50" height="50">
							</a>
						<a th:if="${cate.enabled == false}" th:href="@{'/categories/' + ${cate.id} + '/enabled/true'}" title="Enable Category">
							<img th:src="@{/circle-check-solid-black.svg}" width="50" height="50">
							</a></td></td>
					<td>
						<a class="fas fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${cate.id}}"
						 title="Edit this category"><img th:src="@{/pen-to-square-solid.svg}"></a> 
						&nbsp; 
						<a class="fas fa-edit fa-2x icon-blue link-delete" id="linkdelete" 
						th:href="@{'/categories/delete/' + ${cate.id}}" title="Delete this category">
						<img th:src="@{/trash-solid.svg}"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
	<p>Shopme Control Panel - Copyright &copy; Shopme</p>
	</div>
	</div>
</body>
</html>